# Frontend (Vite build-time var)
VITE_API_BASE_URL=http://55.sc.su.ac.th/admin-dashboard/api

# Backend
SERVER_PORT=8124
DATABASE_URL=
IOT_SERVER_URL=
WEBSOCKET_URL=

# Redis (service name from docker-compose.yml)
REDIS_HOST=admin-redis
REDIS_PORT=6379

# Auth secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
