@theme {
  --padding-content-layout-y: 24px;
  --padding-content-layout-x: 28px;
  --radius-content-layout-tab: 16px;
  --shadow-content-layout-card: 1px 2px 10px 0px rgba(54, 207, 201, 0.25);
  --height-content-layout-card: 72px;

  --color-content-layout-header-row: #57646d;
  --shadow-content-layout-header: 1px 2px 10px 0px rgba(142, 142, 142, 0.25);

  --color-temperature-button: #e6f4ff;
}

.ant-tabs-nav::before {
  display: none !important;
}

.content-layout-tabs .ant-tabs-nav {
  margin-bottom: 24px !important;
}

.ant-segmented {
  background-color: #f5f5f5 !important;
  border-radius: 16px !important;
  border: 3px solid #ededed;
  width: 153px;
  height: 52px;
  overflow: hidden;
}

.ant-segmented-item-selected {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) !important;
}

.ant-segmented-item:first-child.ant-segmented-item-selected {
  border-radius: 12px 0px 0px 12px !important;
}

.ant-segmented-item:last-child.ant-segmented-item-selected {
  border-radius: 0px 12px 12px 0px !important;
}

.ant-segmented-item:first-child {
  border-radius: 12px 0px 0px 12px !important;
}

.ant-segmented-item:last-child {
  border-radius: 0px 12px 12px 0px !important;
}

.ant-segmented-item:hover::after,
.ant-segmented-item:hover {
  background-color: transparent !important;
}

.ant-segmented-item:not(.ant-segmented-item-selected):hover
  .ant-segmented-item-label {
  color: #262626 !important;
  cursor: pointer;
}

.ant-segmented-thumb {
  background: #ffffff !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !important;
}

.ant-segmented-item-selected:hover {
  background-color: #ffffff !important;
  cursor: default;
}

.booking-approve-table .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #13c2c2 !important;
  border-color: #13c2c2 !important;
}

.booking-approve-table .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.booking-approve-table .ant-checkbox:hover .ant-checkbox-inner {
  border-color: #13c2c2 !important;
}

.booking-approve-table .ant-table-tbody > tr.ant-table-row-selected > td {
  background: #ffffff !important;
}